---
import MainLayout from '../mainlayout/MainLayout.astro'
import BodyAricleTop from '../components/BodyAricleTop.astro'
import BodyArticleMiddle from '../components/BodyArticleMiddle.astro'
import BodyArticleButtom from '../components/BodyArticleButtom.astro'
import Slider from '../components/Slider.astro'
import Button from '../components/Button.astro'
---

<MainLayout>
	<BodyAricleTop>
		<h1>Start din uddannelse med en stærk partner ved din side!</h1>
		<p class="headerp">
			Som medlem hos os får du adgang til en verden af karrieremuligheder, eksklusive events og
			solid faglig støtte. Men det stopper ikke her! Vi vil gerne hjælpe dig med at spare penge, så
			du kan fokusere på det vigtigste – din uddannelse.
		</p>
		<div class="buttonstop">
			<Button style="blueborder" text="Studiepartner" />
			<Button style="white" text="Meld mig ind" />
		</div>
	</BodyAricleTop>
	<BodyArticleMiddle>
		<Slider />
		<article class="text">
			<div>
				<h2>Vi støtter dig på din rejse og kun dine ambitioner sætter grænserne!</h2>
				<p class="textmidt">
					Vi er stolte af at præsentere to af vores fantastiske medlemmer, der har gået fra at være
					studerende til at dominere businessverdenen. Deres historier er en kilde til inspiration
					for os alle!
				</p>
			</div>
			<div class="knappermidt">
				<Button style="blue" text="Karrierepartner" />
				<Button style="white" text="Meld mig ind" />
			</div>
		</article>
	</BodyArticleMiddle>
	<BodyArticleButtom>
		<article class="buttomarticle">
			<img src="/studieboger.webp" alt="Studiebøger" />
			<div class="textbuttom">
				<h2>Glem ikke den ekstra bonus: En fordelagtig rabat på studiebøger!</h2>
				<p>
					Når du tilmelder dig, får du ikke bare et medlemskab, du får nøglen til en verden af
					muligheder!
				</p>
				<Button style="blue" text="Meld mig ind" />
			</div>
		</article>
	</BodyArticleButtom>
</MainLayout>
<style>
	.headerp {
		color: white;
	}

	h2 {
		max-width: 25ch;
	}

	.text {
		margin-top: 60px;
		display: flex;
		gap: 60px;
		justify-content: center;
	}

	.textmidt {
		margin-top: 20px;
		max-width: 65ch;
	}

	.knappermidt {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	.buttomarticle {
		display: flex;
		width: 100%;
		gap: 20px;
		justify-content: space-between;
	}

	.buttomarticle img {
		aspect-ratio: 1/1;
		max-width: 40%;
	}

	.textbuttom {
		display: flex;
		margin: 60px 0 60px 0;
		gap: 25px;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 1375px) {
		.knappermidt {
			flex-direction: column;
			justify-content: center;
		}
	}
	@media (max-width: 1375px) {
		.buttomarticle img {
			max-width: 40%;
		}
	}
	@media (max-width: 1135px) {
		.text {
			flex-direction: column;
			gap: 30px;
		}
		.knappermidt {
			flex-direction: row;
			justify-content: flex-start;
		}
	}
	@media (max-width: 1000px) {
		.text {
			align-items: center;
		}
		.buttomarticle img {
			max-width: 60%;
		}
		.buttomarticle {
			flex-direction: column;
			align-items: center;
		}

		.textbuttom {
			align-items: center;
		}
	}

	@media (max-width: 650px) {
		h1 {
			line-height: 40px;
		}
		.buttonstop {
			margin-top: 30px;
		}
		.buttomarticle img {
			max-width: 80%;
		}
	}
</style>
