---
import BodyAricleTop from '../components/BodyAricleTop.astro'
import MainLayout from '../mainlayout/MainLayout.astro'
---

<MainLayout>
	<BodyAricleTop>
		<h1>Her står der tekst</h1>
	</BodyAricleTop>
</MainLayout>

<style></style>
