---
import BodyAricleTop from '../components/BodyAricleTop.astro'
import MainLayout from '../mainlayout/MainLayout.astro'
---

<MainLayout>
	<BodyAricleTop>
		<article>
			<h1>Her står der tekst</h1>
		</article>
	</BodyAricleTop>
</MainLayout>

<style></style>
