---
const { style, text } = Astro.props
---

<a class={style} href="/#">{text}</a>

<style>
	.blue {
		padding: 20px 30px;

		background-color: var(--brandcolor);
		border-radius: 10px;
		border: 3px solid var(--brandcolor);
		max-width: fit-content;
	}

	.white {
		padding: 20px 30px;

		border: 3px solid var(--brandcolor);
		background-color: white;
		border-radius: 10px;
		color: var(--brandcolor);
		max-width: fit-content;
	}
</style>
