<section>
	<article>
		<div>
			<a href="/#">Om CA</a>
			<a href="/#">Kontakt</a>
			<a href="/#">Nyheder</a>
			<a href="/#">Nyhedsbrev</a>
		</div>
		<div>
			<a href="/#">Studiepartner</a>
			<a href="/#">Instant feedback</a>
			<a href="/#">Løntjek</a>
		</div>
		<div>
			<a href="/#">Persondatapolitik</a>
			<a href="/#">Cookiepolitik</a>
			<a href="/#">Tilgængelighedserklæring</a>
		</div>
		<div class="kontakt">
			<p>Telefon hverdage 8.30 - 15.00</p>
			<a class="telelink" href="/#">1234 5566</a>
			<a href="/#">Send en besked</a>
		</div>
	</article>
</section>

<style>
	a,
	p {
		text-decoration: none;
		font-family: 'Nexa-Bold';
		font-size: 18px;
		color: #4a4a4a;
	}
	section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	article {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 50px 50px 50px 160px;
		gap: 3rem;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.kontakt {
		align-items: center;
	}

	.telelink {
		font-size: 36.8px;
	}
</style>
