<article>
	<div class="line1"></div>
	<div class="line2"></div>
	<div class="line3"></div>
</article>

<style>
	article {
		display: flex;
		gap: 5px;
		flex-direction: column;
	}
	div {
		width: 25px;
		height: 2px;
		background-color: #4a4a4a;
	}
</style>
